<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="topbar">
  <div id="topbar-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/enigma">Enigma</a></li>
      <li><a href="/balls">Applet</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</div>

<div id="container">
  <div id="header">
    <h1><a href="/enigma">Software Implementation of the Enigma Machine</a></h1>
  </div>

  <div id="rightbar">
    <h2>How it works</h2>

    <p>Details about the enigma machine...</p>
  </div>

  <div id="content">
    <%= form_for :post, :url => "enigma" do |f| %>
        <p>
          Enigma uses a number of pre-defined rotors in a particular configuration. Choose any number of rotors from the
          predefined rotors 1 to 8.<br/>
          Rotor numbers: <%= f.text_field :rotor_numbers %><br/>
          <br/>
          Each rotor is set to a particular offset letter, enter these letters in order of the rotors.<br/>
          Rotor offsets: <%= f.text_field :rotor_offsets %><br/>
          <br/>
          Enigma uses a single reflector from a choice of 5. Select one.<br/>
          Reflector number: <%= f.text_field :reflector_number %><br/>
          <br/>
          Enigma has a plugboard which can switch particular letters. Input letters to switch in the following format
          'A-B,G-Z'.<br/>
          Plugboard settings: <%= f.text_field :plugboard %><br/>
          <br/>
          <br/> Enter text to cipher: <br/>
          <%= f.text_area :input_text %><br/>
          <%= f.submit "Cipher" %>
        </p>
    <% end %>
    <%= @output unless @output.nil? %>

    <p> Number of cipherings: <%= @cipher_count %></p>
  </div>

  <div id="footer">
    <div id="footer-right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/enigma">Enigma</a></li>
        <li><a href="/balls">Applet</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="g-plusone" data-width="450"></div>
    <div class="fb-like" data-href="http://dynomike.co.uk/enigma" data-send="false" data-width="450" data-show-faces="false"></div>
  </div>

</div>

<script type="text/javascript">
    window.___gcfg = {lang: 'en-GB'};

    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
