<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="topbar">
  <div id="topbar-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/enigma">Enigma</a></li>
      <li><a href="/balls">Applet</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</div>

<div id="container">

  <div id="header">
    <h1><a href="/">DynoMike</a></h1>
  </div>

  <div id="rightbar">
    <h2>My Projects</h2>
    <ul>
      <li><a href="/enigma">Enigma</a></li>
      <li><a href="/balls">Java Applet</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/blog">My Blog</a></li>
    </ul>
    <hr/>
    <br/>

    <h2>Find Me</h2>
    <ul>
      <li><a href="https://twitter.com/MikeSpelling">Twitter</a></li>
      <li><a href="https://www.facebook.com/mike.spelling">Facebook</a></li>
      <li><a href="http://uk.linkedin.com/in/michaelspelling">LinkedIn</a></li>
      <li><a href="https://github.com/MikeSpelling">GitHub</a></li>
      <li><a href="mailto:mike.spelling@hotmail.co.uk">mike.spelling@hotmail.co.uk</a></li>
    </ul>
    <hr/>
    <br/>

    <div id="twitter">
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
          new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 4,
              interval: 30000,
              width: 'auto',
              height: 300,
              theme: {
                  shell: {
                      background: '#333333',
                      color: '#ffffff'
                  },
                  tweets: {
                      background: '#000000',
                      color: '#ffffff',
                      links: '#67a7f5'
                  }
              },
              features: {
                  scrollbar: false,
                  loop: false,
                  live: true,
                  behavior: 'all'
              }
          }).render().setUser('MikeSpelling').start();
      </script>
    </div>

  </div>

  <div id="content">
    <p>
      Hi, welcome to my website. I'm Mike Spelling, a trainee developer for the BBC and this is my personal site.
      Take a look at some of the projects I've been working on in my free time. I'll update these whenever I get the
      time!
    </p>

    <p>
      So far I'm working on 3 projects - <a href="balls">'Applet'</a>, <a href="enigma">'Enigma'</a> and <a href="weather">'Weather'</a> as well as using this website to improve my
      ruby on rails
      knowledge and try some CSS (admittedly not great as yet!).
    </p>

    <p>
      The first project is a <a href="balls">Java applet</a> in which I simply wanted to simulate gravity on 2D
      ball objects and allow mouse clicks to apply force. It works alright so far although collisions between balls is
      not perfect yet. Eventually I'll get this into a working game.
    </p>

    <p>
      Another project I'm working on is recreating the <a href="enigma">Enigma machine</a> in software. This was a task
      I started at the
      Software Craftsmanship
      2012 conference with Gavin James and Aidy Lewis. I took the design further - to allow for any number of rotors and
      added a 'plugboard' which allows letters to be switched.
    </p>

    <p>
      Finally there's the <a href="weather">Weather</a> app which gets your approximate location and uses an API to give
      you the weather in your area.
    </p>

    <p>
      All the code for this ruby on rails app can be found on <a href="https://github.com/MikeSpelling/dynomike-app">GitHub</a>, so take a look if your interested, have a look around and feel free to leave a comment!
    </p>
    <hr/>
    <br/>

    <div id="display-comments">
      <h2>Comments</h2>
      <% @comments.each do |comment| %>
          <div class="comment">
            <p> <%= comment.text.gsub("\n", "<br/>").html_safe %> </p>
            <a href="/home-comment/<%= comment.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
            <span class="comment-footer"><%= comment.author %>
              (<%= comment.created_at.strftime("#{comment.created_at.day.ordinalize} %B  %Y ") %>)</span><br/>
          </div>
          <br/>
      <% end %>
      <br/>
    </div>

    <div id="add-comment">
      <h2>Add a Comment</h2>
      <%= form_for :post, :url => "/" do |f| %>
          <% unless @comment.nil? %>
              <% if @comment.errors.any? %>
                  <script type="text/javascript">alert("<%= @comment.errors.full_messages.first %>");</script>
              <% end %>
          <% end %>
          <p>Author: <input id="post_author" name="post[author]" size="81" type="text"/> <br/></p>

          <p>Comment:<br/>
            <textarea cols="63" id="post_text" name="post[text]" rows="8"></textarea></p>

          <p><input name="commit" type="submit" value="Comment"/></p>
      <% end %>
    </div>
  </div>

  <div id="footer">

    <div id="footer-right">
      <a href="https://www.webfaction.com/">
        <img src="https://www.webfaction.com/images/webfaction-logo.png" alt="Webfaction logo" width="160" height="40"/>
      </a>
    </div>
    <div class="g-plusone" data-width="450"></div>
    <div class="fb-like" data-href="http://dynomike.co.uk" data-send="false" data-width="450" data-show-faces="false"></div>

  </div>
</div>

<script type="text/javascript">
    window.___gcfg = {lang: 'en-GB'};

    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
