<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="topbar">
  <div id="topbar-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/enigma">Enigma</a></li>
      <li><a href="/balls">Applet</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</div>

<div id="container">

  <div id="header">
    <h1>Blogs</h1>
  </div>

  <div id="rightbar">
    <h2>My Blogs</h2>
    <ul>
      <% unless @blogs.nil? %>
          <% @blogs.each do |blog| %>
              <li><a href="#blog-<%= blog.id %>"><%= blog.title %></a></li>
          <% end %>
      <% end %>
    </ul>
    <hr/>
    <br/>
  </div>

  <div id="content">
    <div id="display-blogs">
      <% unless @blogs.nil? %>
          <% @blogs.each do |blog| %>
              <div class="blog" id="blog-<%= blog.id %>">
                <h2><%= blog.title %></h2>
                <p><%= blog.text.gsub(/\n/, '<br/>').html_safe %></p>
		        <a href="/blog/<%= blog.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
              </div>
              <br/>
          <% end %>
      <% end %>
      <br/>
    </div>

    <div id="new-blog">
      <h2>New Blog</h2>
      <%= form_for :post, :url => "/blog" do |f| %>
          <p>
            Title: <%= f.text_field :title %><br/>
            <br/> Blog: <br/>
            <%= f.text_area :text %><br/>
            <%= f.submit "Post" %>
          </p>
      <% end %>
    </div>

  </div>

  <div id="footer">
    <div id="footer-right">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/enigma">Enigma</a></li>
        <li><a href="/balls">Applet</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

    <div class="g-plusone" data-width="450"></div>
    <div class="fb-like" data-href="http://dynomike.co.uk/enigma" data-send="false" data-width="450" data-show-faces="false"></div>
  </div>

</div>

<script type="text/javascript">
    window.___gcfg = {lang: 'en-GB'};

    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
